:root {
  --primary-color: #4161b9;
  --secondary-color: #e7e0e0;
  --danger-color: #ff3c32;
  --input-color: #9999ff;
  --button-color: #4161b9;
  --background-color: #222;
  --text-color: #eee;
}

$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$danger-color: var(--danger-color);
$input-color: var(--input-color);
$background-color: var(--background-color);
$button-color: var(--button-color);
$dark-color-2: var(--dark-color-2);
$text-color: var(--text-color);
