-const menu_tecnico = ['Registrar usuario', 'Gestionar usuarios', 'Panel vista-capturista', 'Panel vista-tecnico']
-const menu_capturista = ['Registrar usuario', 'Gestionar usuarios', 'Panel vista-capturista', 'Panel vista-tecnico']
-let pageActive