.form-addUsuario {
  padding: 1rem;
  border-radius: 15px;
  width: 90%;
  margin-left: 5%;
  // background-color: $primary-color;
  background-color: rgba(45, 55, 150, 0.327);

  &__field {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 15px;
  }

  &__label,
  &__input {
    width: 100%;
    margin-bottom: 1rem;
    background: none;
    border: none;
    outline: none;
    color: $text-color;
  }

  &__input {
    margin-bottom: 2rem;
    border-bottom: 1px solid $text-color;
    background-color: burlywood;
  }

  &__roll {
    text-align: center;
  }

  &__submit {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.5rem 1rem;
    color: $text-color;
    background-color: $button-color;
    border: none;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: transform(0.2s);

    &:active,
    &:focus {
      transform: scale(0.9);
    }
  }

  &__select {
    display: flex;
    justify-content: center;

    @include laptop {
      justify-content: flex-start;
      margin-left: 1em;
      margin-bottom: 2em;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
  }

  @include laptop {
    margin-left: 9em;
    width: 80%;
    // height: 500px;
    display: flex;
    justify-content: space-around;
  }
}

.form-datosp,
.formdatosU {
  @include laptop {
    width: 45%;
    height: 100%;
  }
}
