.logo {
  width: 50px;
  display: flex;
  align-content: center;
  position: fixed;
  top: 0;
  left: 0.1rem;
  z-index: 200;

  @include laptop {
    top: 1em;
    position: absolute;
    width: 6%;
    min-width: 85px;
    margin-left: 1em;
  }
}
