extends ../templates/template
block title
 title Administrador
block menuc
    - pageActive = 'administrador'
    include ../includes/menu-admin
block main
    h1.title Sesión de
block footer
    include ../includes/footer