extends ../templates/template
block title
 title Capturista
block menuc
    - pageActive = 'capturista'
    include ../includes/menu-capturista
block main
    h1.title Sesión de
block footer
    include ../includes/footer