extends ../pages/capturista
block title
    title= "Clientes registrados"
block main
    h1.title Clientes registrados
    .container-table
        table.table-user#table-client
            colgrup
                col.ids
                col.names
                col.usernames
                col.permisos
                col.status
            thead.table-user__head#table-client__head
                tr
                  th
                  th Nombre
                  th Usuario
                  th Permisos
                  th Estatus
            tbody.table-user__body#table-client__body
                tr
                    td 1
                    td AndreiAlmir
                    td ANDREIA
                    td Administrador
                    td Activo