extends ../pages/administrador
block title
    title= "Usuarios registrados"
block main
    h1.title Usuarios registrados
    .container-table
        table.table#table-user
            colgrup
                col.ids
                col.names
                col.usernames
                col.permisos
                col.status
            thead.table__head#table__head
                tr
                  th
                  th Nombre
                  th Usuario
                  th Permisos
                  th Estatus
            tbody.table__body#table__body
                tr
                    td 1
                    td AndreiAlmir
                    td ANDREIA
                    td Administrador
                    td Activo