extends ../pages/tecnico
block title
    title= "Equipos registrados"
block main
    h1.title Equipos registrados
    .filtros
        select#filtro-tipo(name="filtro-tipo")
            option(value="laptop") Laptop
            option(value="desktop") Desktop
            option(value="impresora") Impresora
        select#filtro-marca(name="filtro-marca")
            option(value="todasM") Todas
        select#filtro-estatus(name="filtro-estatus")
            option(value="todosE") Todos
            option(value="nuevo_ingreso") Nuevo ingreso
            option(value="no_reparado") No reparado
            option(value="en_revision") En revisión
            option(value="reparado") Reparado
            option(value="entregado") Entregado
        button(type="submit").form__submit Aplicar
    .container-table
        table.table#table-client
            colgrup
                col.ids
                col.tipo
                col.marca
                col.status
            thead.table__head#table-client__head
                tr
                  th
                  th Tipo
                  th Marca
                  th Estatus
            tbody.table__body#table-client__body
                tr
                    td 1
                    td AndreiAlmir
                    td ANDREIA
                    td Administrador