extends ../templates/template
block main
    .container
        .logo-container
            .logo-container__logo
                img(src="./assets/images/DS.png", alt="logo" class="img-logo")
        .form-acces-container
            form.form-acces#formulario(action="administrador.html")
                .form-acces__field
                    input(type="text", name="username")#login-user.form-acces__input
                .form-acces__field
                    input#login-password(type="password", name="password").form-acces__input
                .form-acces__field#btnacceder
                    input(type="submit", value="Acceder")#acceder.form-acces__submit