extends ../templates/template
block main
    .container
        .logo-container
            .logo-container__logo
                img(src="./assets/images/DS.png", alt="logo" class="img-logo")
        .form-container
            form.form#formulario(action="administrador.html")
                .form__field
                    input(type="text", name="username")#login-user.form__input
                .form__field
                    input#login-password(type="password", name="password").form__input
                .form__field#btnacceder
                    input(type="submit", value="Acceder")#acceder.form__submit