extends ../templates/template
block main
    .container
        .logo-container
            img(src="./assets/images/DS.png", alt="logo" class="img-logo")
        .form-container
            form.form
                .form__field
                    input(type="text", name="text")#login-user.form__input
                .form__field
                    input#login-password(type="password", name="password").form__input
                .form__field
                    input(type="submit", value="Acceder")#acceder.form__submit