extends ../templates/template
block title
 title Tecnico
block menuc
    - pageActive = 'tecnico'
    include ../includes/menu-tecnico
block main
    h1.title Sesión de
block footer
    include ../includes/footer