block footer
    .conteiner-contact
        .conteiner-mio
            h6.mio Mi contacto
            a(href="https://github.com/JFERN4ND0")
                i.fa-brands.fa-github
            a(href="https://github.com/JFERN4ND0")
                i.fa-brands.fa-linkedin
        .conteiner-geek
            h6.geek Basado en proyecto final del curso
            a(href="https://youtu.be/dgF4z8FbtG0")
                i.fa-brands.fa-youtube