block footer
    .contact
        .contact-mio
            h5.contact-mio__text Mi contacto
            .container__link
                a(href="https://github.com/JFERN4ND0" target="_blank").contact-mio__link
                    i.fa-brands.fa-github
                a(href="mailto:ferguzva@gmail.com" target="_blank").contact-mio__link
                    i.fa-solid.fa-envelope
                a(href="https://www.linkedin.com/in/jos%C3%A9-fernando-guzm%C3%A1n-733834234/" target="_blank").contact-mio__link
                    i.fa-brands.fa-linkedin
        .contact-geek
            h5.contact-geek__text Basado en proyecto final del curso
            .container__link
                a(href="https://youtu.be/dgF4z8FbtG0" target="_blank").contact-geek__link
                    i.fa-brands.fa-youtube