a(href=`/${pageActive}.html`).logo
    img(src="./assets/images/DS.png", alt="web Logo")
#topbar.topbar
    .toggle-menu
        #toggle-menu.toggle-menu__icon
            .first-bar
            .second-bar
            .third-bar
#sidebar.sidebar
    block menu