extends main-menu
block menu
   
        ul#main-menu.main-menu
            li.opcion.main-menu__item
                //- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg>
                a(href=`/registrarUsuario.html`).main-menu__link= "Registrar usuario"
                i.fa-solid.fa-user-plus.fa-lg
            li.opcion.main-menu__item
                a(href=`/gestionarUsuarios.html`).main-menu__link= "Gestionar usuarios"
                i.fa-solid.fa-address-card.fa-lg
            li.opcion.main-menu__item
                a(href=`/vistaCapturista.html`).main-menu__link= "Panel vista-capturista"
                i.fa-solid.fa-tty.fa-lg
            li.opcion.main-menu__item
                a(href=`/vistaTecnico.html`).main-menu__link= "Panel vista-tecnico"
                i.fa-solid.fa-laptop.fa-lg
