nav#main-nav.main-nav
    ul#main-menu.main-menu
        each opc, index in menu_admin
            if menu_admin == pageActive
                li.main-menu__item
                    if index==0
                        a(href=`/`).main-menu__link.main-menu__link--active= opc
                    else
                        a(href=`/${opc}.html`).main-menu__link.main-menu__link--active= opc
            else
                li.main-menu__item
                    if index==0
                        a(href=`/`).main-menu__link= opc
                    else
                        a(href=`/${opc}.html`).main-menu__link= opc