extends main-menu
block menu
    ul#main-menu.main-menu
        li.opcion.main-menu__item
            a(href=`/agregar_usuario.html`).main-menu__link= "Registrar usuario"
            .container-icon
                i.fa-solid.fa-user-plus.fa
        li.opcion.main-menu__item
            a(href=`/gestionarUsuarios.html`).main-menu__link= "Gestionar usuarios"
            .container-icon
                i.fa-solid.fa-address-card.fa
        li.opcion.main-menu__item
            a(href=`/vistaCapturista.html`).main-menu__link= "Panel vista-capturista"
            .container-icon
                i.fa-solid.fa-tty.fa
        li.opcion.main-menu__item
            a(href=`/vistaTecnico.html`).main-menu__link= "Panel vista-tecnico"
            .container-icon
                i.fa-solid.fa-laptop.fa
