extends main-menu
block menu
    ul#main-menu.main-menu
        li.opcion.main-menu__item
            .container-icon
                i.fa-solid.fa-user-plus.fa
            a(href=`/agregar_usuario.html`).main-menu__link= "Registrar usuario"
        li.opcion.main-menu__item
            .container-icon
                i.fa-solid.fa-address-card.fa
            a(href=`/gestionarUsuarios.html`).main-menu__link= "Gestionar usuarios"
        li.opcion.main-menu__item
            .container-icon
                i.fa-solid.fa-tty.fa
            a(href=`/vistaCapturista.html`).main-menu__link= "Panel vista-capturista"
        li.opcion.main-menu__item
            .container-icon
                i.fa-solid.fa-laptop.fa
            a(href=`/vistaTecnico.html`).main-menu__link= "Panel vista-tecnico"
