.container {
  display: flex;
  justify-content: center;
  align-items: center;

  @include laptop {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
}

.logo-container {
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 10;

  @include laptop {
    position: relative;
    height: 90vh;
    width: 50%;
  }

  &__logo {
    margin-top: -5em;

    @include laptop {
      margin-top: 6em;
      max-width: 300px;
    }
  }
}

.form-container {
  display: flex;
  text-align: center;
  height: 90vh;
  width: 100vw;
  z-index: 100;

  @include laptop {
    position: relative;
    width: 50%;
  }
}

.form {
  margin-top: 30vh;
}
