.container {
  display: flex;
  background-image: url(../../../assets/images/wallpaperPrincipal.jpg);
}

.logo-container {
  width: 50%;
  height: 100vh;

  @include mobile {
    width: 0;
  }

  &__logo {
    max-width: 300px;
    margin-top: 8em;
    margin-right: auto;
    margin-left: auto;

    @include mobile {
      width: 100vh;
    }
  }
}

.form-container {
  height: 100vh;
  width: 50%;

  @include mobile {
    width: 100vh;
  }
}

.form {
  margin-top: 40vh;
  margin-right: auto;

  @include mobile {
    margin-top: 25vh;
  }
}
